<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Movie reviews and ratings</h1>
    <p>Find new movies that are just right for you based on reviews and ratings from fellow movie fans. Read movie details and reviews for new and recent movies in theaters, DVD and Blu-ray releases, and film classics.</p>
    <p><%= link_to 'Sign Up To Write A Review', new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <div class="image_wrapper">
          <%= link_to (image_tag movie.image.url(:medium), class: "image"), movie %>
        </div>
      </div>
    </div>
  <% end %>
</div>
